@charset "UTF-8";
body {
  overflow-x: hidden;
}

body, h1, h2, dl, dd, p {
  margin: 0;
}

ol, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  float: left;
}

img {
  vertical-align: top;
  border: 0;
}

a {
  color: #000;
  text-decoration: none;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  border: none;
}

button {
  border: none;
  background: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  font-family: "SourceHanSansCN",arial,"Microsoft Yahei", sans-serif;
  font-size: 18px;
}

.clearfix:after, .container:after {
  content: '';
  clear: both;
  display: block;
  width: 0;
  height: 0;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.mr0 {
  margin-right: 0 !important;
}

.clear {
  clear: both;
}

.responsive {
  width: 100%;
  height: auto;
}

.singletext {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.img_title {
  height: 70px;
}

.img_title img {
  margin: 0 auto;
  display: block;
}

.img_title::after {
  content: '';
  display: block;
  width: 50px;
  height: 4px;
  border-radius: 2px;
  margin: 0 auto;
  background: #dd2524;
  margin-top: 30px;
}

#header {
  position: absolute;
  z-index: 10;
  width: 100%;
  max-width: 1200px;
  left: 0;
  top: 0;
  right: 0;
  margin: auto;
}

#header.new_header a {
  color: #000 !important;
}

#header .nav {
  float: right;
  width: 62.5%;
  height: 42px;
  line-height: 42px;
  margin-top: 36px;
}

#header .nav li {
  width: 16.6%;
  text-align: center;
}

#header .nav li:hover .subnav {
  display: block;
}

#header .nav div {
  position: relative;
  cursor: pointer;
}

#header .nav a {
  color: #fff;
}

#header .nav li:hover::after, #header .nav .active::after {
  content: '';
  display: block;
  width: 30%;
  height: 1px;
  margin: 0 auto;
  background: #fff;
}

#header .ico::after {
  position: absolute;
  right: 8%;
  top: 40%;
  display: block;
  content: "";
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top-color: #fff;
}

#header .subnav {
  position: absolute;
  width: 90%;
  top: 40px;
  left: 8%;
  z-index: 10;
  border-radius: 10px;
  background-color: #fff;
  display: none;
  overflow: hidden;
}

#header .subnav li {
  width: 100%;
  height: 53px;
  line-height: 53px;
  font-size: 16px;
  float: none;
  border-top: 1px solid #f0f0f0;
}

#header .subnav li:first-child {
  border-top: none;
}

#header .subnav li:hover {
  background: #efefef;
}

#header .subnav a {
  display: block;
  color: #000;
}

#header .phone-nav {
  display: none;
}

#header .logo {
  padding: 27px 0 0 0;
  width: 265px;
}

#footer {
  background-color: #2d2d2d;
}

#footer .container {
  box-sizing: border-box;
  padding: 85px 30px 70px 30px;
  background-color: #2d2d2d;
}

#footer .cover {
  padding-bottom: 85px;
  overflow: hidden;
  position: relative;
}

#footer dl {
  float: left;
  width: 15.83%;
}

#footer dt {
  margin-bottom: 28px;
  color: #fff;
}

#footer dd {
  font-size: 16px;
  margin-bottom: 18px;
  word-wrap: break-word;
}

#footer .phone dt, #footer .phone dd {
  color: #fff;
}

#footer .erweibox {
  float: right;
  width: 10%;
}

#footer .erweibox img {
  width: 100%;
}

#footer .erweibox p {
  font-size: 14px;
  color: #fff;
  text-align: center;
  margin-top: 16px;
}

#footer .tips {
  padding-top: 30px;
  clear: both;
  border-top: 1px solid #838383;
}

#footer .tips a {
  font-size: 16px;
}

#footer .code {
  width: 31%;
  float: right;
  overflow: hidden;
}

#footer a {
  color: #989898;
}

#footer a:hover {
  color: #fff;
}

#footer .beian {
  margin-left: 20px;
}

@media (max-width: 1200px) {
  #header .logo {
    padding-left: 20px;
  }
  #header .ico::after {
    right: 3%;
  }
}

/* 小屏幕（平板，大于等于 768px） */
@media (max-width: 1000px) {
  #header .nav {
    width: 65%;
  }
  #header li {
    font-size: 16px;
  }
  #header .logo {
    padding: 27px;
    width: 200px;
  }
  #header .ico::after {
    right: 0%;
  }
  #header .subnav {
    left: 15%;
  }
  #footer .link {
    width: 100%;
    text-align: center;
  }
  #footer dt {
    font-size: 16px;
  }
  #footer dd {
    font-size: 14px;
  }
  #footer .phone dt, #footer .phone dd {
    font-size: 20px;
  }
  .img_title img {
    width: 150px;
  }
}

/* 超小屏幕（手机，小于 768px） */
@media screen and (max-width: 768px) {
  .container {
    font-size: 16px;
  }
  .swiper-slide {
    overflow: visible !important;
  }
  #header {
    right: auto;
    bottom: auto;
  }
  #header .logo {
    padding-bottom: 0;
  }
  #header .phone-nav {
    display: block;
    width: 60px;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    float: right;
    position: relative;
    cursor: pointer;
    z-index: 100;
  }
  #header .phone-nav .p_t {
    position: relative;
  }
  #header .phone-nav .subnav {
    width: 130px;
    top: 40px;
    right: 30px;
    left: auto;
    background-color: #fff;
    position: absolute;
    z-index: 100;
    overflow: visible !important;
  }
  #header .phone-nav .subnav li {
    font-size: 14px;
  }
  #header .phone-nav .subnav li:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  #header .phone-nav .subnav li:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  #header .phone-nav .subnav .active {
    color: #f9b882;
  }
  #header .phone-nav .p_subnav {
    position: absolute;
    width: 90%;
    top: 0;
    left: -95%;
    z-index: 10;
    border-radius: 10px;
    background-color: #fff;
    display: none;
  }
  #header .phone-nav .p_subnav li {
    width: 100%;
    height: 53px;
    line-height: 53px;
    font-size: 16px;
    float: none;
    border-top: 1px solid #f0f0f0;
  }
  #header .phone-nav .p_subnav li:first-child {
    border-top: none;
  }
  #header .phone-nav .p_subnav li:hover {
    background: #efefef;
  }
  #header .phone-nav .p_subnav a {
    display: block;
    color: #000;
  }
  #header .logo {
    width: 150px;
  }
  #header .nav {
    display: none;
  }
  .img_title img {
    width: 120px;
  }
  #footer .container {
    padding-top: 40px;
  }
  #footer .container .cover {
    padding-bottom: 20px;
  }
  #footer dt, #footer dd {
    text-align: center;
  }
  #footer dt, #footer .phone dt, #footer .phone dd {
    font-size: 14px;
  }
  #footer dl {
    width: 33%;
    min-height: 200px;
  }
  #footer dl.phone {
    width: 100%;
    text-align: center;
    clear: both;
    float: none;
    min-height: auto;
  }
  #footer dl.phone dt, #footer dl.phone dd {
    display: inline;
  }
  #footer .erweibox {
    position: absolute;
    right: 25%;
    top: 54.2%;
    width: 34%;
  }
}
