@charset "UTF-8";
#brand .navbar {
  background-color: #fff;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.08); }

#brand .nav {
  width: 48.541%;
  height: 90px;
  margin: 0 auto;
  overflow: hidden; }
  #brand .nav li {
    width: 33.3%;
    font-size: 26px;
    text-align: center;
    line-height: 90px;
    cursor: pointer; }
  #brand .nav .active {
    background: no-repeat bottom center;
    background-image: url("../imgs/line.png");
    background-size: 50px 4px; }

#brand .margintop120 {
  margin-top: 10%; }

#brand h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 4.16%; }

#brand p {
  line-height: 36px;
  color: #666666; }

#brand .top {
  overflow: hidden; }
  #brand .top img {
    float: left;
    width: 32.5%;
    margin-left: 1.25%; }
  #brand .top .first {
    margin-left: 0; }

#brand .bottom {
  margin-top: 1.25%;
  margin-bottom: 25%; }
  #brand .bottom img {
    width: 40.84%; }
  #brand .bottom .first {
    margin-right: 1.25%; }
  #brand .bottom .w57 {
    width: 57.91%; }

@media (max-width: 1125px) {
  #brand .nav {
    width: 80%; }
  #brand .container {
    padding-left: 30px;
    padding-right: 30px; } }

/* 超小屏幕（手机，小于 768px） */
@media screen and (max-width: 768px) {
  #brand .nav {
    width: 100%; }
    #brand .nav li {
      font-size: 16px; }
  #brand h1 {
    font-size: 24px; }
  #brand .container {
    padding-left: 10px;
    padding-right: 10px; } }
