.swiper-slide {
  position: relative;
}

.edslider {
  /*---slide show skin---*/
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
  /*---controls---*/
}

.edslider ul {
  position: relative;
}

.edslider > ul {
  background: #fff;
  overflow: hidden;
  padding-top: 50.2%;
}

.edslider > ul li {
  display: none;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.edslider > ul li.current {
  z-index: 1;
}

.edslider a {
  display: block;
}

.edslider .navigator {
  width: 2.1%;
  bottom: 38%;
  position: absolute;
  cursor: pointer;
  transition: background-color 0.2s;
  z-index: 12;
}

.edslider .navigator img {
  width: 100%;
}

.edslider .next {
  left: 21.5%;
}

.edslider .prev {
  left: 19%;
}

.edslider .controls {
  width: 100%;
  height: 0;
  position: absolute;
  bottom: 6%;
  z-index: 2;
}

.edslider .controls .paginator {
  width: 224px;
  margin: 0 auto;
}

.edslider .controls .paginator li {
  float: left;
  cursor: pointer;
  width: 16px;
  height: 4px;
  margin: 0 20px;
  background: #fff;
}

.edslider .controls .paginator li.current, .edslider .controls .paginator li:hover {
  background: rgba(255, 255, 255, 0.5);
}

.edslider .progress {
  position: absolute;
  top: 0;
  height: 3px;
  z-index: 2;
  background: rgba(255, 255, 255, 0.5);
}
