#header {
  position: static;
}

#helps {
  padding: 40px 0;
  font-size: 22px;
  line-height: 40px;
  background: #f8f8fa;
}

#helps .content {
  margin: 40px auto 0 auto;
  padding: 30px 80px;
  max-width: 1200px;
  background-color: #fff;
}

#helps h2 {
  font-size: 28px;
  margin-bottom: 10px;
  line-height: 46px;
}

@media (max-width: 1000px) {
  #privacy_title {
    width: 350px;
  }
}

@media (max-width: 768px) {
  #helps {
    padding: 20px 0;
    font-size: 18px;
    line-height: 36px;
  }
  #helps .content {
    margin: 20px auto 0 auto;
    padding: 15px 20px;
  }
  #helps h2 {
    font-size: 22px;
    margin-bottom: 10px;
    line-height: 30px;
  }
  #privacy_title {
    width: 300px;
  }
}
