#top {
  padding-top: 31.25%;
}

#service {
  padding: 4.7% 0;
}

#service h2 {
  font-size: 24px;
  text-align: center;
  margin: 28px;
}

#service p {
  color: #333333;
  line-height: 30px;
  margin-bottom: 50px;
}

@media (max-width: 1200px) {
  #service {
    padding: 4.7% 10px;
  }
}

@media (max-width: 768px) {
  #service h2 {
    margin: 14px;
  }
  #service p {
    margin-bottom: 30px;
  }
}
