#header{
    position: relative;
    z-index: 10;
    .nav{
        li{
            width: 14%;
        }
    }
    .subnav{
        top: 50px;
        li{
            width: 100%;
        }
    }
}

#features{
    .features_left{
        width: 58%;
        .first{
            margin-right: 1.5%;
        }
    }
}

#introduction{
    .top{
        img{
            margin-left: 1%;
        }
    }
    .bottom{
        .first{
            margin-right: 1%;
        }
    }
}

#shop{
    .navbar{
        img.last{
            margin-left: -3px;
        }
    }
}
.page{
    border: none;
    button{
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }
    #prePage{
        border-left: 1px solid #ddd;
        img{
            margin-top: 6px;
        }
    }
    #nextPage{
        border-right: 1px solid #ddd;
        img{
            margin-top: 6px;
        }
    }
}

#activity_article .content img{
    margin-right: 1%;
}

#brand{
    .top img {
        margin-left: 1%;
    }
    .bottom{
        .first{
            margin-right: 1%;
        }
    }
}
@media screen and (max-width: 768px){
    #service .nav.nav .last{
        width: 27%!important;
    }
}
